<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Position</title>

    <style>
        #div1{
            background-color: rgba(255, 0, 0, .5);
            padding: 10px;
            width: 90%;
            position: sticky;
            height: 200px;
            top: 0;
            bottom: 0;
        }

        #div2{
            background-color: rgba(0, 255, 0, .5);
            padding: 10px;
            width: 80%;
            height: 50px;
            position: static;
        }

        #div3{
            background-color: rgba(0, 0, 255, .5);
            padding: 10px;
            width: 30px;
            height: 30px;
            position: static;
            top: 20px;
            right: 0;
        }
    </style>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi quo sint nulla sed, dolorem eum, veniam minima mollitia quidem itaque, unde quas recusandae corrupti nostrum modi amet? Eligendi, explicabo veniam?</p>
    
    <div id="div1">
        1
        <div id="div2">
            2
            <div id="div3">3</div>
        </div>
    </div>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, velit, fuga officia nam veniam dicta tenetur, ullam possimus commodi assumenda deleniti non quia debitis consequatur obcaecati consequuntur ipsum exercitationem. Sit.</p>
</body>
</html>